{% if errors %}
    <ul class="errorlist">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<table class="{{ css_class_name }}">
    <tr>
        <th></th>
        {% for label in column_labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </tr>
    {% for field_row in fields %}
        <tr>
            {% for field in field_row %}
                    {% if forloop.counter == 1 %}
                        <th>{{ field }}</th>
                    {% else %}
                        <td>{{ field }}</td>
                    {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
