{% extends "base_two_columns.html" %}

{% block title %}{% endblock %}

{% block nav %}
	<ul class="tabbed">
	{% comment %}
		<li class="current-tab"> to highlight selected tab
		reference: http://stackoverflow.com/questions/340888/navigation-in-django
	{% endcomment %}
		{% block nav_portada %}<li class=""><a href="{% url cuerpo instance.cuerpo.old_id %}">Portada</a></li>{% endblock %}
		{% block nav_general %}<li class=""><a href="{% url cuerpo_general instance.cuerpo.old_id %}">Inf. General</a></li>{% endblock %}
		{% block nav_anb %}<li class=""><a href="{% url cuerpo_anb instance.cuerpo.old_id %}">Inf. ANB</a></li>{% endblock %}
		{% block nav_infrastructure %}<li class=""><a href="{% url cuerpo_infrastructure instance.cuerpo.old_id %}">Infraestructura</a></li>{% endblock %}
		{% block nav_mayor_material %}<li class=""><a href="{% url cuerpo_mayor_material instance.cuerpo.old_id %}">Material Mayor</a></li>{% endblock %}
        {% block nav_alarm_central %}<li class=""><a href="{% url cuerpo_alarm_central instance.cuerpo.old_id %}">Central de Alarmas</a></li>{% endblock %}
        {% block nav_service_acts %}<li class=""><a href="{% url cuerpo_service_acts instance.cuerpo.old_id %}">Actos de Servicio</a></li>{% endblock %}
	</ul>
{% endblock %}

{% block sidebar %}
    <div id="sidebar" class="left sidebar">
        <div class="section">
            <div class="section-title">Navegación</div>
            
            {% if user.is_superuser %}
            <p class="main_page_link">
                <a href="{% url index %}">Ir a la página principal</a>
            </p>
            <br />
            {% endif %}
            <form id="selector_form">
                <select class="last_choice_field" id="company">
                    {% for elem in instance.cuerpo.cuerpo_company.all %}
                        <option value="{{ elem.old_id }}">{{ elem }}</option>
                    {% endfor %}
                </select>
                <br />
                <input type="submit" value="Ingresar" />
            </form>
        </div>
    </div>
{% endblock %}
