{% extends "cuerpo/base.html" %}

{% block title %}Catastro de cuerpo de bomberos: Material Mayor{% endblock %}

{% block nav_mayor_material %}<li class="current-tab"><a href="{% url cuerpo_mayor_material %}">Material Mayor</a></li>{% endblock %}

{% block content %}

<form method="post" class="catastro_form">
	{% csrf_token %}
	<h2>Material Mayor</h2>
	<h4>Cuerpo de bomberos {{ cuerpo.name }}</h4>

	{% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}

	<h3>Información del Vehículo</h3>

	{{ form.render_vehicle_info_questions_to_list }}

    <br />
	<hr />

	<h3>Situación Legal</h3>

	{{ form.render_legal_status_questions_to_list }}

    <br />
	<hr />

	<h3>Medidores de Uso</h3>

	{{ form.render_kilometraje_horometraje_to_list }}

	<br />
	<hr />

    <h3>Caracteristicas</h3>

	{{ form.render_caracteristics_to_list }}

	<br />
	<hr />

	<h3>Grandes reparaciones</h3>

	<h4>Cambio Motor</h4>
	{{ form.render_motor_change_to_list }}

	<h4>Cambio Caja de cambio</h4>
	{{ form.render_gearbox_change_to_list }}

	<br />
	<hr />

	<p><input type="submit" value="Guardar y continuar" /></p>
</form>

{% endblock %}
