{% extends "cuerpo/base.html" %}

{% block title %}Catastro de cuerpo de bomberos: Portada{% endblock %}

{% block nav_portada %}<li class="current-tab"><a href="{% url cuerpo %}">Portada</a></li>{% endblock %}

{% block content %}
    <h2>Catastro de Cuerpo de bomberos</h2>
    <br />
    <h3>Portada</h3>
    <br />


    <form method="post" action="#others_officials">
	{% csrf_token %}

	<table>
        <tr>
            <th>
                Nombre de cuerpo
            </th>
            <td>
                {{ cuerpo.name }}
            </td>
        </tr>
        <tr>
            <th>
                Comuna
            </th>
            <td>
                {{ cuerpo.commune }}
            </td>
        </tr>
        <tr>
        <tr>
            <th>
                Provincia
            </th>
            <td>
                {{ cuerpo.commune.province }}
            </td>
        </tr>
        <tr>
            <th>
                Región
            </th>
            <td>
                {{ cuerpo.commune.province.region }}
            </td>
        </tr>
        <tr>
            <th>
                Teléfono
            </th>
            <td>
                {{ cuerpo.phone }}
            </td>
        </tr>
        <tr>
            <th>
                Dirección Cuartel General
            </th>
            <td>
                {{ cuerpo.address }}
            </td>
        </tr>
        <tr>
            <th>
                Fecha de Fundación
            </th>
            <td>
                {{ cuerpo.foundation_date }}
            </td>
        </tr>
        <tr>
            <th>
                N° Personalidad Jurídica
            </th>
            <td>
                {{ cuerpo.cuer_npers_juri }}
            </td>
        </tr>
        <tr>
            <th>
                Fecha de Decreto
            </th>
            <td>
                {{ cuerpo.decree_date }}
            </td>
        </tr>
    </table>
      <table>
            <tr>
                <th>Cargo</th>
                <th>Nombre</th>
            </tr>
            {% for field in form.base_position_fields %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>

 <a name="others_officials"></a>
 <h4>Otros oficiales</h4>
        {{ other_official.management_form }}

        <table>
            <tr>
                <th>Cargo</th>
                <th>Nombre</th>
                <th>¿Eliminar?</th>
            </tr>
            {% for form in other_official.forms %}
                <tr>
                    {{ form.id }}
                    <td>{{ form.role_name }}</td>
                    <td>{{ form.person_name }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input title="Agregar nuevo oficial" type="submit" name="add_other_official" value="Agregar oficial" /></td>
                <td></td>
                <td><input type="submit" value="Eliminar seleccionados" name="delete_other_official" /></td>
            </tr>
        </table>
	<h3>Observaciones</h3>

	{{ form.observations }}

	<input type="submit" value="Guardar" />
	</form>

{% endblock %}
