{% extends "cuerpo/base.html" %}

{% block title %}Información General - {% endblock %}

{% block nav_general %}<li class="current-tab"><a href="{% url cuerpo_general instance.cuerpo.old_id %}">Inf. General</a></li>{% endblock %}

{% block content %}
    <!-- Link to instructive -->
	<p><a class="ins-link" href="http://www.bomberos.cl/catastro/instructivocata.pdf">Descargue el instructivo aquí</a></p>
	<br/>
	<form method="post" class="catastro_form">
	{% csrf_token %}
	<h2>Información General</h2>
	<h4>Cuerpo de bomberos {{ instance.cuerpo.name }}</h4>
	<!-- <h4>Compañía {{ company.number }}</h4> -->

	{% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}

	<h3>Hardware</h3>

	{{ form.render_hardware_to_table }}

	{{ form.render_isp_to_list }}

	<br />
	<hr />
	<h3>Uso de tecnologías de Internet</h3>
	<p class="nota">Deje en blanco si no tiene</p>

	{{ form.render_web_to_list }}

	<br />
	<hr />

	<h3>Sistema Contable</h3>

	{{ form.render_accounting_system_to_list }}
	<br />
	<hr />

	<h3>Personal Rentado</h3>

	{{ form.render_personnel_to_table }}

	<br />
	<hr />

	<h3>Observaciones</h3>
    <p class="nota">Ingrese cualquier información que estime de utilidad</p>
	{{ form.render_observations_to_list }}

	<p><input type="submit" value="Guardar y continuar" /></p>
</form>

{% endblock %}
