{% extends "cuerpo/base.html" %}
{% load thumbnail %}

{% block title %}Infraestructura - {% endblock %}

{% block nav_infrastructure %}<li class="current-tab"><a href="{% url cuerpo_infrastructure instance.cuerpo.old_id %}">Infraestructura</a></li>{% endblock %}

{% block content %}
	<form method="post" class="catastro_form" action="#other_offices" enctype="multipart/form-data">
	{% csrf_token %}
	<h2>Infraestructura Cuartel General</h2>
	<h4>Cuerpo de bomberos {{ cuerpo.name }}</h4>

{% for error in form.errors %}
	{{ error }}<br />
{% endfor %}

{% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}

<h3>Terreno</h3>
{{ form.render_built_area_to_table }}

{{ form.render_land_questions_to_list }}
<small>Responder sólo si el título de propiedad es un arriendo o un comodato</small>
{{ form.render_commodatum_end_year_to_list }}

{{ form.render_rol_sii_to_list }}

<h3>Datos de inscripción</h3>

{{ form.render_inscription_data_questions_to_list }}

<br/>
<hr/>
<h3>Construcción</h3>
{{ form.render_building_material_type_to_list }}

{{form.render_building_construction_to_table}}

<br/>
<hr/>

<h3>Distribución</h3>

{{form.render_distribution_rooms_to_list}}

<h3>Oficinas</h3>

{{form.render_distribution_offices_to_list}}

<br/>
<hr/>

<h3 id="cuerpoinfrastructureotheroffices_set">Otras oficinas</h3>

        {{ formsets.cuerpoinfrastructureotheroffices_set.management_form }}

        <table class="dynamic_form">
            <tr>
                <th>Nombre de oficina</th>
                <th>¿Eliminar?</th>
            </tr>
            {% for form in formsets.cuerpoinfrastructureotheroffices_set.forms %}
                <tr>
                    {{ form.id }}
                    <td>{{ form.role_name}}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            <tr class="dynamic_form_buttons">
                <td colspan=2 class="add_button"><input title="Agregar oficina" type="submit" name="{{ formsets.cuerpoinfrastructureotheroffices_set.prefix }}_add" value="Agregar oficina" /></td>
                <td colspan=3 class="delete_button"><input type="submit" value="Eliminar oficina" name="{{ formsets.cuerpoinfrastructureotheroffices_set.prefix }}_delete" /></td>
            </tr>
        </table>

<br/>
<hr/>

<h3>Dependencias</h3>

{{form.render_rooms_to_list}}


<br/>
<hr/>

<h3>Fotografías Requeridas</h3>


{% for pair in form.picture_fields %}
    <h4>{{ pair.0.label }}</h4>

    {% if pair.0.errors %}
        <ul class="errorlist">
            {% for error in pair.0.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% thumbnail pair.1 "300x300" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

    <br />
    <br />
    {{ pair.0 }} <input type="submit" value="Eliminar fotografía" name="{{ pair.0.name }}_delete" />
    <br/>
    <br />
{% endfor %}
<br />

<hr/>

<h3>Observaciones</h3>
    <p>Ingrese cualquier información que estime de utilidad</p>
{{form.render_observations_to_list}}

	<p><input type="submit" value="Guardar y continuar" /></p>
</form>

{% endblock %}
