{% extends "cuerpo/base.html" %}

{% block title %}Material Mayor - {% endblock %}

{% block nav_mayor_material %}<li class="current-tab"><a href="{% url cuerpo_mayor_material cuerpo.old_id %}">Material Mayor</a></li>{% endblock %}

{% block content %}

<div>

<div class="add-button">
    <a href="{% url cuerpo_add_new_mayor_material cuerpo.old_id %}">Agregar Nueva Ficha</a>
</div>
<table>
    <tr>
        <th>Compañía</th>
        <th>Denominación</th>
        <th>Patente</th>
        <th>Eliminar</th>
    </tr>
{% for mayor_material_data in mayor_material_list %}
    <tr>
        <td>
        <a href="{% url cuerpo_edit_mayor_material cuerpo.old_id mayor_material_data.id %}">{{forloop.counter}} - {{mayor_material_data }}</a>
        </td>
        <td>{{mayor_material_data.denomination|default:"no ingresada"}}</td>
        <td>{{mayor_material_data.licence_plate|default:"no ingresada"}}</td>
        <td>
		    <form method="post" action="{% url cuerpo_remove_mayor_material cuerpo.old_id mayor_material_data.id %}" onsubmit="return confirm('Está seguro que desea eliminar esta ficha?');">
		    {% csrf_token %}
			    <input type="submit" value="Eliminar ficha"/>
		    </form>
        </td>
    </tr>
{% empty %}
    <tr><td colspan="4">Ud. no tiene fichas de Material Mayor</td></tr>
{% endfor %}
</table>
</div>

{% endblock %}
