{% extends "cuerpo/base.html" %}

{% block title %}Portada Cuerpo - {% endblock %}

{% block nav_portada %}<li class="current-tab"><a href="{% url cuerpo instance.cuerpo.old_id %}">Portada</a></li>{% endblock %}

{% block content %}
    <h2>Catastro Nacional Bomberos de Chile</h2>
    <h4>Cuerpo de bomberos {{ instance.cuerpo.name }}</h4>

    <h3>Portada</h3>
    <br />
    <p>
	     <small>Nota: Si alguno de estos datos es incorrecto por favor corregirlo en el <a href="http://www.bomberos.cl/ver2.0/index.php">sitio web de la JNB</a><br>
            Cualquier duda contactarse con <a href="mailto:soporte@bomberos.cl">soporte@bomberos.cl</a>
          </small>

	</p>
	<br />


    <form method="post" action="#others_officials">
	{% csrf_token %}

	<ul>
        <li><strong>Nombre de cuerpo:</strong> {{ instance.cuerpo.name }}</li>
        <li><strong>Comuna:</strong> {{ instance.cuerpo.commune }}</li>
        <li><strong>Provincia:</strong> {{ instance.cuerpo.commune.province }}</li>
        <li><strong>Región:</strong> {{ instance.cuerpo.commune.province.region }}</li>
        <li><strong>Teléfono:</strong> {{ instance.cuerpo.phone }}</li>
        <li><strong>Dirección Cuartel General:</strong> {{ instance.cuerpo.address }}</li>
        <li><strong>Fecha de Fundación:</strong> {{ instance.cuerpo.foundation_date }}</li>
        <li><strong>N° Personalidad Jurídica:</strong> {{ instance.cuerpo.npers_juri }}</li>
        <li><strong>Fecha de Decreto:</strong> {{ instance.cuerpo.decree_date }}</li>
    </ul>

    <br />
	<hr />
    <h3>Oficiales</h3>
      <table>
            <tr>
                <th>Cargo</th>
                <th>Nombre</th>
            </tr>
            {% for field in form.base_position_fields %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>

<a name="{{ formsets.cuerpootherofficial_set.prefix }}"></a>
 <h4 id="others_officials">Otros oficiales</h4>
        {{ formsets.cuerpootherofficial_set.management_form }}

        <table>
            <tr>
                <th>Cargo</th>
                <th>Nombre</th>
                <th>¿Eliminar?</th>
            </tr>
            {% for form in formsets.cuerpootherofficial_set.forms %}
                <tr>
                    {{ form.id }}
                    <td>{{ form.role_name }}</td>
                    <td>{{ form.person_name }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input title="Agregar nuevo oficial" type="submit" name="{{ formsets.cuerpootherofficial_set.prefix }}_add" value="Agregar oficial" /></td>
                <td></td>
                <td><input type="submit" value="Eliminar seleccionados" name="{{ formsets.cuerpootherofficial_set.prefix }}_delete" /></td>
            </tr>
        </table>

    <br />
	<hr />
	<h3>Observaciones</h3>
    <p>Ingrese cualquier información que estime de utilidad</p>
	{{ form.observations }}

	<p><input type="submit" value="Guardar y continuar" /></p>
	</form>

{% endblock %}
