{% extends "cuerpo/base.html" %}

{% block title %}Actos de Servicio - {% endblock %}
{% block nav_service_acts %}<li class="current-tab"><a href="{% url cuerpo_service_acts instance.cuerpo.old_id %}">Actos de Servicio</a></li>{% endblock %}

{% block content %}
    <!-- Link to instructive -->
	<p><a class="ins_link" href="http://www.bomberos.cl/catastro/instructivocata.pdf">Descargue el instructivo aquí</a></p>
	<br/>
    <form method="post" class="catastro_form">
	{% csrf_token %}
 	<h2>Actos de Servicio</h2>
	<h4>Cuerpo de bomberos {{ instance.cuerpo.name }}</h4>

    {% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}

    <h4>Entre el 1 de enero de 2010 y 31 de diciembre de 2010</h4>
    <h3>Servicios</h3>
    {{ form.render_acts_to_table }}
    <br />
	<hr />
    <h3>Observaciones</h3>
    <p class="nota">Ingrese cualquier información que estime de utilidad</p>
	{{ form.observations }}
	
	{% if user.is_staff or user.is_superuser %}
	    <br />
	    <hr />
	    <h3>Completitud/Correctitud Formulario</h3>
        <p class="nota">Sólo para uso de la JNBC</p>
        
	    {{ form.render_staff_only_form_to_list }}
	
	{% endif %}
	<p><input type="submit" value="Guardar y Terminar" /></p>
</form>

{% endblock %}
