{% extends "cuerpo/base.html" %}

{% block title %}Catastro de cuerpo de bomberos: Actos de Servicio{% endblock %}
{% block nav_service_acts %}<li class="current-tab"><a href="{% url cuerpo_service_acts %}">Actos de Servicio</a></li>{% endblock %}

{% block content %}
    <form method="post" class="catastro_form">
	{% csrf_token %}
 	<h2>Actos de Servicio</h2>
	<h4>Cuerpo de bomberos {{ cuerpo.name }}</h4>
	<br />
	<hr />
  <h4>Entre el 1 de enero de 2010 y 31 de diciembre de 2010</h4>
    <h3>Servicios</h3>

{{ form.render_acts_to_table }}
<br />
	<hr />
<h3>Observaciones</h3>

	{{ form.observations }}
	<p><input type="submit" value="Guardar y Terminar" /></p>
</form>

{% endblock %}
