{% extends "cuerpo/base.html" %}

{% block title %}Catastro de cuerpo de bomberos: Central de Alarmas{% endblock %}

{% block nav_alarm_central%}<li class="current-tab"><a href="{% url cuerpo_alarm_central %}">Central de Alarmas</a></li>{% endblock %}

{% block content %}
	{% for error in form.errors %}
		{{ error }}<br />
	{% endfor %}
	<form method="post" class="catastro_form">
	{% csrf_token %}
	<h2>Central de Alarmas</h2>
	<h4>Cuerpo de bomberos {{ cuerpo.name }}</h4>

	{% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}
   <br><b></b><h3>Debe ser respondido por Comandante del Área o Inspector en comunicaciones</h3><br></b>

	<h3>Datos de contacto</h3>

	{{ form.render_contacts_details_to_list}}

        <small>Nota: Indicar un teléfono distinto del 132</small>

        <br />
    	<br />
	<hr />

        <h3>Personal (Operadoras)</h3>

	{{ form.render_role_shift_to_table}}
        {{ form.render_operators_availableatalltimes_to_list}}

	<br />
	<hr />

        <h3>Telefonía (mesa)</h3>

        {{form.render_telephone_exchange_to_list}}
	{{form.render_telephone_lines_to_table}}
        {{form.render_phone_calls_to_list}}
        {{form.render_cell_equipment_to_list}}

         {{ form.telephone_number132_available }}
    	<br />
	<hr />

        <h3>Equipos de Radio (Fijos)</h3>
	<a name="bases"></a>
	<h4>Bases</h4>
        {{ base_radio.management_form }}

        <table>
            <tr>
                <th>Cantidad</th>
                <th>Marca</th>
		<th>Modelo</th>
		<th>Potencia</th>
                <th>¿Eliminar?</th>
            </tr>
            {% for form in base_radio.forms %}
                <tr>
                    {{ form.id }}
                    <td>{{ form.quantity }}</td>
                    <td>{{ form.manufacturer }}</td>
		    <td>{{ form.model }}</td>
		    <td>{{ form.power }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input title="Agregar nuevo equipo de radio base" type="submit" name="add_new_base_radio_eq" value="Agregar nuevo equipo de radio base" /></td>
                <td></td>
                <td><input type="submit" value="Eliminar seleccionados" name="delete_base_radio_eq" /></td>
            </tr>
        </table>

        <br />

        <h4>Antenas Fijas</h4>
        {{ form.render_fixed_antennas_to_table}}
        <h4>Generador de Tonos (Alarma x Cía)</h4>
        {{ form.render_tone_generator_to_list}}
        <h4>Portátiles (Uso exclusivo de la Central)</h4>
        {{ form.render_portable_radio_to_table}}
    	<br />
	<hr />

        <h3>Frecuencias</h3>
        <br>
        <h4>Ejemplo: 123.102 Mhz</h4>
	{{ form.render_frequencies_to_list}}
    	<br />
	<hr />

        <h3>Soporte tecnológico</h3>
        <h4>Hardware</h4>
        {{ form.render_hardware_technological_support_to_list}}
        <h4>Software</h4>
        {{ form.render_software_technological_support_to_list}}
        <h4>Procedimientos</h4>
        <!-- Procedimientos = Ex - Administración/Documentación -->
        {{ form.render_administration_documentation_technological_support_to_list}}
	<h4>Internet</h4>
        {{form.render_internet_technological_support_to_list}}
    	<br />
	<hr />

        <h3>Energía de Respaldo - (Solo Central)</h3>
	{{form.render_backup_power_to_list}}
    	<br />
	<hr />

        <h3>Observaciones</h3>
	{{form.render_observations_to_list}}
    	<br />
	<hr />

	<p><input type="submit" value="Guardar y Continuar" /></p>
	</form>

{% endblock %}
