{% extends "cuerpo/base.html" %}

{% block title %}Central de Alarmas - {% endblock %}

{% block nav_alarm_central%}<li class="current-tab"><a href="{% url cuerpo_alarm_central %}">Central de Alarmas</a></li>{% endblock %}

{% block content %}
	{% for error in form.errors %}
		{{ error }}<br />
	{% endfor %}
	<form method="post" class="catastro_form" action="#bases">
	{% csrf_token %}
	<h2>Central de Alarmas</h2>
	<h4>Cuerpo de bomberos {{ cuerpo.name }}</h4>

	{% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}
   <br><b></b><h3>Debe ser respondido por Comandante del Área o Inspector en comunicaciones</h3><br></b>

	<h3>Datos de contacto</h3>

	{{ form.render_contacts_details_to_list}}

        <small>Nota: Indicar un teléfono distinto del 132</small>

        <br />
    	<br />
	<hr />

        <h3>Personal (Operadoras)</h3>

	{{ form.render_role_shift_to_table}}
        {{ form.render_operators_availableatalltimes_to_list}}

	<br />
	<hr />

        <h3>Telefonía (mesa)</h3>

        {{form.render_telephone_exchange_to_list}}
	{{form.render_telephone_lines_to_table}}
        {{form.render_phone_calls_to_list}}
    	<br />
	<hr />

        <h3>Equipos de Radio (Fijos)</h3>
	<a name="bases"></a>
<h3 id="cuerpoalarmcentralbaseradioeq_set">Bases</h3>
        {{ formsets.cuerpoalarmcentralbaseradioeq_set.management_form }}
        <table class="dynamic_form">
            <tr>
                <th class="quantity">Cantidad</th>
                <th>Marca</th>
                <th>Modelo</th>
				<th class="quantity">Potencia(W)</th>
                <th>¿Eliminar?</th>
            </tr>
             {% for form in formsets.cuerpoalarmcentralbaseradioeq_set.forms %}
                {% if form.errors %}
                    <tr class="errorrow">
                        <td>{{ form.quantity.errors.0 }}</td>
                        <td>{{ form.manufacturer.errors.0 }}</td>
                        <td>{{ form.model.errors.0 }}</td>
                        <td>{{ form.power.errors.0 }}</td>
                    </tr>
                {% endif %}
                <tr>
                    {{ form.id }}
                    <td class="quantity">{{ form.quantity }}</td>
                    <td>{{ form.manufacturer }}</td>
                    <td>{{ form.model }}</td>
					<td class="quantity">{{ form.power }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            <tr class="dynamic_form_buttons">
                <td colspan=2 class="add_button"><input title="Agregar Equipo de Radio Base" type="submit" name="{{ formsets.cuerpoalarmcentralbaseradioeq_set.prefix }}_add" value="Agregar Equipo de Radio Base" /></td>
                <td colspan=3 class="delete_button"><input type="submit" value="Eliminar seleccionados" name="{{ formsets.cuerpoalarmcentralbaseradioeq_set.prefix }}_delete" /></td>
            </tr>
        </table>

        <br />

        <h4>Antenas Fijas</h4>
        {{ form.render_fixed_antennas_to_table}}
        <h4>Generador de Tonos (Alarma x Cía)</h4>
        {{ form.render_tone_generator_to_list}}
        <h4>Portátiles (Uso exclusivo de la Central)</h4>
        {{ form.render_portable_radio_to_table}}
    	<br />
	<hr />

        <h3>Frecuencias</h3>
        <br>
        <h4>Ejemplo: 123.102 Mhz</h4>
	{{ form.render_frequencies_to_list}}
    	<br />
	<hr />

        <h3>Soporte tecnológico</h3>
        <h4>Hardware / Software</h4>
        {{ form.render_hardware_technological_support_to_list}}
        <h4>Sistema de Despacho</h4>
        {{ form.render_software_technological_support_to_list}}
        <h4>Procedimientos</h4>
        <!-- Procedimientos = Ex - Administración/Documentación -->
        {{ form.render_administration_documentation_technological_support_to_list}}
	<h4>Internet</h4>
        {{form.render_internet_technological_support_to_list}}
    	<br />
	<hr />

        <h3>Energía de Respaldo - (Solo Central)</h3>
        <small>Responder sólamente si tiene disponible</small>
	{{form.render_backup_power_to_list}}
    	<br />
	<hr />

        <h3>Observaciones</h3>
        <p>Ingrese cualquier información que estime de utilidad</p>
	{{form.render_observations_to_list}}
    	<br />
	<hr />

	<p><input type="submit" value="Guardar y Continuar" /></p>
	</form>

{% endblock %}
