{% extends "base_two_columns.html" %}
				
{% block nav %}
	<ul class="tabbed">
	{% comment %}
		<li class="current-tab"> to highlight selected tab
		reference: http://stackoverflow.com/questions/340888/navigation-in-django
	{% endcomment %}
		{% block nav_portada %}<li><a href="{% url company instance.company.old_id %}">Portada</a></li>{% endblock %}
		{% block nav_volunteers %}<li><a href="{% url company_volunteers instance.company.old_id %}">Voluntarios</a></li>{% endblock %}
		{% block nav_infrastructure %}<li><a href="{% url company_infrastructure instance.company.old_id %}">Infraestructura</a></li>{% endblock %}
		{% block nav_minor_material %}<li><a href="{% url company_minor_material instance.company.old_id %}">Material Menor</a></li>{% endblock %}
	</ul>
{% endblock %}

{% block sidebar %}
    {% if menu_titles %}
	    <div id="sidebar" class="left sidebar">

		    <div class="section">

			    <div class="section-title">Navegación</div>
			    <p class="main_page_link">
			        <a href="{% url censo.views_cuerpo.display_portada_form instance.company.cuerpo.old_id %}">Volver a cuerpo</a>
		        </p>
		    </div>

	    </div>
	{% endif %}
{% endblock %}
