{% extends "base.html" %}

{% block title %}Catastro de compañía de bomberos{% endblock %}
				
{% block nav %}
	<ul class="tabbed">
	{% comment %}
		<li class="current-tab"> to highlight selected tab
		reference: http://stackoverflow.com/questions/340888/navigation-in-django
	{% endcomment %}
		{% block nav_portada %}<li><a href="{% url company %}">Portada</a></li>{% endblock %}
		{% block nav_volunteers %}<li><a href="{% url company_volunteers %}">Voluntarios</a></li>{% endblock %}
		{% block nav_infrastructure %}<li><a href="{% url company_infrastructure %}">Infraestructura</a></li>{% endblock %}
		{% block nav_minor_material %}<li><a href="{% url company_minor_material %}">Material Menor</a></li>{% endblock %}
	</ul>
{% endblock %}