{% extends "company/base.html" %}

{% block content %}
    <h2>Catastro de compañía de bomberos</h2>
    <br />
    <h3>Portada</h3>
    <br />
	<ul>
	    <li><b>Nombre de compañía:</b> {{ company.name }}</li>
		<li><b>Número de compañía:</b> {{ company.number }}</li>
		<li><b>Comuna:</b> {{ company.commune }}</li>
		<li><b>Provincia:</b> {{ company.commune.province }}</li>
		<li><b>Región:</b> {{ company.commune.province.region }}</li>
	</ul>
	<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Guardar" />
	</form>
	
{% endblock %}
