{% extends "company/base.html" %}

{% block nav_portada %}<li class="current-tab"><a href="{% url company %}">Portada</a></li>{% endblock %}

{% block content %}
    {% for error in form.errors %}
        {{error}}<br />
    {% endfor %}

    <h2>Catastro de compañía de bomberos</h2>
    <h4>{{ base_instance.cuerpo }}</h4>
    <h4>{{ base_instance.string_number }}</h4>
    <h3>Portada</h3>
    <br />
    <p>

	    <small>Nota: Si alguno de estos datos es incorrecto por favor corregirlo en el <a href="http://www.bomberos.cl/ver2.0/index.php">sitio web de la JNB</a><br>
            Cualquier duda contactarse con <a href="mailto:soporte@bomberos.cl">soporte@bomberos.cl</a></small>
	</p>
	<br />
	<ul>
	    <li><strong>Nombre:</strong> {{ base_instance.string_number }}</li>
	    <li><strong>Dirección:</strong> {{ base_instance.address }}</li>
	    <li><strong>Comuna:</strong> {{ base_instance.commune }}</li>
	    <li><strong>Provincia:</strong> {{ base_instance.commune.province }}</li>
	    <li><strong>Región:</strong> {{ base_instance.commune.province.region }}</li>
	    <li><strong>Teléfono:</strong> {{ base_instance.phone }}</li>
	    <li><strong>Fecha de fundación:</strong> {{ base_instance.foundation_date }}</li>
	</ul>

	<br />
	<hr />
    <h3>Oficiales</h3>
    <br />

	{% if formset.errors and not prevent_validation_error %}

	    <ul class="errorlist">
	        <li>Debe ingresar la información de los cargos adicionales</li>
	    </ul>
	{% endif %}

    <form method="post" action="#others_officials">
        {% csrf_token %}
        <table>
            <tr>
                <th>Cargo</th>
                <th>Nombre</th>
            </tr>
            {% for field in form.base_position_fields %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>

        <a name="others_officials"></a>
        <h4>Otros oficiales</h4>
        {{ formset.management_form }}

        <table>
            <tr>
                <th>Cargo</th>
                <th>Nombre</th>
                <th>¿Eliminar?</th>
            </tr>
            {% for form in formset.forms %}
                {% if form.errors and not prevent_validation_errors %}
                    <tr class="errorrow">
                        <td>{{ form.role_name.errors.0 }}</td>
                        <td>{{ form.person_name.errors.0 }}</td>
                    </tr>
                {% endif %}
                <tr>
                    {{ form.id }}
                    <td>{{ form.role_name }}</td>
                    <td>{{ form.person_name }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input title="Agregar nuevo oficial" type="submit" name="{{ prefix }}_add" value="Agregar oficial" /></td>
                <td></td>
                <td><input type="submit" value="Eliminar seleccionados" name="{{ prefix }}_delete" /></td>
            </tr>
        </table>
    <br />
	<hr />
	<h3>Observaciones</h3>
    <p>Ingrese cualquier información que estime de utilidad</p>
	{{ form.observations }}
    
    <p><input title="Guardar y continuar" type="submit" name="submit_portada_form" value="Guardar y continuar" /></p>
    </form>


{% endblock %}
