{% extends "company/base.html" %}

{% block nav_minor_material %}<li class="current-tab"><a href="{% url company_minor_material %}">Material Menor</a></li>{% endblock %}

{% block content %}
<form method="post" class="catastro_form">
{% csrf_token %}
	<h2>Material Menor</h2>
	<h4>{{ company.cuerpo }}</h4>
	<h4>{{ company.string_number }}</h4>

<h3>Uniformes Normados</h3>
<p><small>Sólo uniformes normados</small></p>
{{ form.render_uniforms_regulated_to_table}}

<br/>
<hr/>

<h3>Equipamiento ERA</h3>
{{ form.render_era_equipment_to_table}}

<br/>
<hr/>

<h3>Equipamiento menor</h3>
<h4>Mangueras</h4>
{{ form.render_hosepipe_minor_equipment_to_table}}

<h4>Pitones</h4>
{{ form.render_python_minor_equipment_to_table}}

<h4>Otro equipamiento</h4>
{{ form.render_other_minor_equipment_to_list }}

<br/>
<hr/>

<h3>Compresores de aire</h3>
{{ form.render_air_compressor_to_list}}

<br/>
<hr/>

<h3>Cascadas</h3>
{{ form.render_cascade_to_list}}

<br/>
<hr/>

<h3>Generadores Eléctricos</h3>
{{ form.render_electric_generator_questions_to_table}}


<br/>
<hr/>

<h3>Equipos de Radio Base</h3>
{{ form.render_base_radio_equipment_quantity }}
{{ form.render_base_radio_equipment_make_to_list }}
{{ form.render_base_radio_equipment_power }}

<br/>
<hr/>

<h3>Otros</h3>
{{ form.render_other_equipment_questions_to_list}}


<br/>
<hr/>

<h3>Equipos de Radio Portátiles</h3>
{{ form.render_portable_radio_equipment_quantity }}
{{ form.render_portable_radio_equipment_make_to_list }}

<br/>
<hr/>

<h3>Antenas</h3>
{{ form.render_antenna_equipment_quantity }}
{{ form.render_antenna_equipment_make_to_list }}
{{ form.render_antenna_equipment_power }}

<br/>
<hr/>

<h3>Observaciones</h3>
    <p>Ingrese cualquier información que estime de utilidad</p>
{{form.render_observations_to_list}}

<p><input type="submit" value="Guardar" /></p>
</form>

{% endblock %}
