{% extends "company/base.html" %}

{% block content %}
<form method="post" class="catastro_form">
{% csrf_token %}
	<h2>Material Menor</h2>
	<h4>Compañía {{ company.number }}</h4>

<h3>Uniformes Normados</h3>
{{ form.render_uniforms_regulated_to_table}}

<br/>
<hr/>

<h3>Equipamiento ERA</h3>
{{ form.render_era_equipment_to_table}}

<br/>
<hr/>

<h3>Equipamiento menor</h3>
<h4>Mangueras</h4>
{{ form.render_hosepipe_minor_equipment_to_table}}

<h4>Pitones</h4>
{{ form.render_python_minor_equipment_to_table}}

<h4>Otro equipamiento</h4>
{{ form.render_other_minor_equipment_to_list }}

<br/>
<hr/>

<h3>Compresores de aire</h3>
{{ form.render_air_compressor_to_list}}

<br/>
<hr/>

<h3>Cascadas</h3>
{{ form.render_cascade_to_list}}

<br/>
<hr/>

<h3>Generadores Eléctricos</h3>
{{ form.render_electric_generator_questions_to_table}}


<br/>
<hr/>

<h3>Otros</h3>
{{ form.render_other_equipment_questions_to_list}}


<br/>
<hr/>

<h3>Observaciones</h3>
{{form.render_observations_to_list}}

<p><input type="submit" value="Guardar" /></p>
</form>

{% endblock %}
