{% extends "company/base.html" %}

{% block nav_menu %}
	<ul class="tabbed">
		<li><a href="/company/">Portada</a></li>
		<li><a href="/company/volunteers">Voluntarios</a></li>
		<li><a href="/company/infrastructure">Infraestructura</a></li>
		<li class="current-tab"><a href="/company/minor_material">Material Menor</a></li>
	</ul>
{% endblock %}

{% block content %}
<form method="post" class="catastro_form">
{% csrf_token %}
	<h2>Material Menor</h2>
	<h4>Compañía {{ company.number }}</h4>

<h3>Uniformes Normados</h3>
{{ form.render_uniforms_regulated_to_table}}

<br/>
<hr/>

<h3>Equipamiento ERA</h3>
{{ form.render_era_equipment_to_table}}

<br/>
<hr/>

<h3>Equipamiento menor</h3>
{{ form.render_hosepipe_minor_equipment_to_table}}

<br/>
<hr/>

<p><input type="submit" value="Guardar" /></p>
</form>

{% endblock %}
