{% extends "company/base.html" %}
{% load thumbnail %}

{% block title %}Infraestructura - {% endblock %}

{% block nav_infrastructure %}<li class="current-tab"><a href="{% url company_infrastructure instance.company.old_id %}">Infraestructura</a></li>{% endblock %}

{% block content %}
    <!-- Link to instructive -->
	<p><a class="ins_link" href="http://www.bomberos.cl/catastro/instructivocata.pdf">Descargue el instructivo aquí</a></p>
	<br/>
<form method="post" class="catastro_form" enctype="multipart/form-data">
	{% csrf_token %}
	<h2>Infraestructura</h2>
	<h4>{{ company.cuerpo }}</h4>
	<h4>{{ company.string_number }}</h4>

	{% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}


<h3>Terreno</h3>
{{ form.render_built_area_to_table }}

{{ form.render_land_questions_to_list }}
<p class="nota">Responder sólo si el título de propiedad es un arriendo o un comodato</p>
{{ form.render_rental_commodatum_end_year_to_list }}

{{ form.render_rol_sii_to_list }}

<h3>Datos de inscripción</h3>

{{ form.render_inscription_data_questions_to_list }}

<br/>
<hr/>
<h3>Construcción</h3>
{{ form.render_building_material_type_to_list }}

{{form.render_building_construction_to_table}}

<br/>
<hr/>
<h3>Distribución</h3>

{{form.render_distribution_rooms_to_list}}

<h3>Oficinas</h3>

{{form.render_distribution_offices_to_list}}

<p class="nota">Nota: En caso de tener oficinas que no se encuentren en el listado indicar en Oficinas Comunes </p>


<br/>
<br/>
<hr/>

<h3>Guardia Nocturna</h3>

<h4>Hombres</h4>
{{form.render_night_guard_office_men_to_table}}
<h4>Mujeres</h4>
{{form.render_night_guard_office_women_to_table}}
{{form.render_night_guard_office_kitchen_to_list}}

<h3>Dependencias</h3>

{{form.render_rooms_to_list}}

{{form.render_bathrooms_to_table}}

{{form.render_other_areas_to_list}}


<h3>Casa cuartelero</h3>

{{ form.render_barrack_house_to_list }}

<br/>
<hr/>

<h3 id="companyelectgeneratorfixedbarracks_set">Generadores Eléctricos Fijos en Cuartel</h3>

{{ formsets.companyelectgeneratorfixedbarracks_set.management_form }}

        <table class="dynamic_form">
            <tr>
                <th class="quantity">Cantidad</th>
                <th>Potencia</th>
                <th>¿Eliminar?</th>
            </tr>
            {% for form in formsets.companyelectgeneratorfixedbarracks_set.forms %}
                <tr>
                    {{ form.id }}
                    <td class="quantity">{{ form.quantity}}</td>
                    <td>{{ form.fk_potency}}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            <tr class="dynamic_form_buttons">
                <td colspan=2 class="add_button"><input title="Agregar oficina" type="submit" name="{{ formsets.companyelectgeneratorfixedbarracks_set.prefix }}_add" value="Agregar generador" /></td>
                <td colspan=3 class="delete_button"><input type="submit" value="Eliminar generador" name="{{ formsets.companyelectgeneratorfixedbarracks_set.prefix }}_delete" /></td>
            </tr>
        </table>

<br/>
<hr/>

<h3>Fotografías Solicitadas</h3>
<p class="nota">Dejar en blanco si no se cuenta con las fotografías a mano</p>
<br />
<br />

{% for pair in form.picture_fields %}
    <h4>{{ pair.0.label }}</h4>

    {% if pair.0.errors %}
        <ul class="errorlist">
            {% for error in pair.0.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% thumbnail pair.1 "300x300" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

    <br />
    <br />
    {{ pair.0 }} <input type="submit" value="Eliminar fotografía" name="{{ pair.0.name }}_delete" />
    <br/>
    <br />
{% endfor %}

<hr/>
<h3>Observaciones</h3>
<p>Ingrese cualquier información que estime de utilidad</p>
{{ form.render_observations_to_list }}
    
<p><input type="submit" value="Guardar y continuar" /></p>
</form>
{% endblock %}
