{% extends "company/base.html" %}

{% block nav_menu %}
	<ul class="tabbed">
		<li><a href="/company/">Portada</a></li>
		<li class="current-tab"><a href="/company/volunteers">Voluntarios</a></li>
		<li><a href="/company/infrastructure">Infraestructura</a></li>
		<li><a href="/company/minor_material">Material Menor</a></li>
	</ul>
{% endblock %}

{% block content %}
	<h2>Catastro de compañía de bomberos</h2>
	<br />
	<h3>Voluntarios</h3>
	<br />
	<ul>
		<li><b>Número de compañía:</b> {{ company.number }}</li>
		<li><b>Especialidades:</b>
			<ul>
			{% for speciality in company.specialities.all %}
				<li>{{ speciality.name }}</li>
			{% empty %}
				<li>ninguna</li>
			{% endfor %}
			</ul>
		</li>
	</ul>
    {% load uni_form_tags %}
    {% with form.helper as helper %}
        {% uni_form form helper %}
	    {% csrf_token %}
    {% endwith %}
{% endblock %}
