{% extends "company/base.html" %}
{% load thumbnail %}

{% block nav_infrastructure %}<li class="current-tab"><a href="{% url company_infrastructure %}">Infraestructura</a></li>{% endblock %}

{% block content %}
<form method="post" class="catastro_form" enctype="multipart/form-data">
	{% csrf_token %}
	<h2>Infraestructura</h2>
	<h4>{{ company.string_number }}</h4>
<h3>Terreno</h3>
{{ form.render_built_area_to_table }}

{{ form.render_land_questions_to_list }}
<small>Responder sólo si el título de propiedad es un arriendo o un comodato</small>
{{ form.render_rental_commodatum_end_year_to_list }}

{{ form.render_rol_sii_to_list }}

<h3>Datos de inscripción</h3>

{{ form.render_inscription_data_questions_to_list }}

<br/>
<hr/>
<h3>Construcción</h3>
{{ form.render_building_material_type_to_list }}

{{form.render_building_construction_to_table}}

<br/>
<hr/>
<h3>Distribución</h3>

{{form.render_distribution_rooms_to_list}}

<h3>Oficinas</h3>

{{form.render_distribution_offices_to_list}}

<small>Nota: En caso de tener oficinas que no se encuentren en el listado indicar en Oficinas Comunes </small>


<br/>
<br/>
<hr/>

<h3>Oficina Guardia Nocturna</h3>

<h4>Hombres</h4>
{{form.render_night_guard_office_men_to_table}}
<h4>Mujeres</h4>
{{form.render_night_guard_office_women_to_table}}
{{form.render_night_guard_office_kitchen_to_list}}

<h3>Dependencias</h3>

{{form.render_rooms_to_list}}

{{form.render_bathrooms_to_table}}

{{form.render_other_areas_to_list}}


<h3>Casa cuartelero</h3>

{{ form.render_barrack_house_to_list }}

<br/>
<hr/>

<h3>Fotografías Requeridas</h3>

<!-- First image -->
<h4>Vista general</h4>
{{ form.picture_general_view.errors }}
{% thumbnail company.infrastructurecompanydata.picture_general_view "300x300" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<br />
<br />
{{ form.picture_general_view }}
<br/>
<br />

<!-- Second image -->
<h4>Fachada</h4>
{{ form.picture_front_view.errors }}
{% thumbnail company.infrastructurecompanydata.picture_front_view "300x300" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<br />
<br />
{{ form.picture_front_view }}
<br/>
<br />

<!-- Third image -->
<h4>Parte posterior</h4>
{{ form.picture_back_view.errors }}
{% thumbnail company.infrastructurecompanydata.picture_back_view "300x300" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<br />
<br />
{{ form.picture_back_view }}
<br/>
<br />

<!-- Fourth image -->
<h4>Sala de Máquinas</h4>
{{ form.picture_machine_room_view.errors }}
{% thumbnail company.infrastructurecompanydata.picture_machine_room_view "300x300" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<br />
<br />
{{ form.picture_machine_room_view }}
<br/>
<br />

<!-- Fifth image -->
<h4>Oficinas</h4>
{{ form.picture_office_view.errors }}
{% thumbnail company.infrastructurecompanydata.picture_office_view "300x300" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<br />
<br />
{{ form.picture_office_view }}
<br/>
<br />

<!-- Sixth image -->
<h4>Distribución Interior</h4>
{{ form.picture_internal_distribution_view.errors }}
{% thumbnail company.infrastructurecompanydata.picture_internal_distribution_view "300x300" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}
<br />
<br />
{{ form.picture_internal_distribution_view }}
<br/>
<br />

<hr/>
<h3>Observaciones</h3>
{{ form.render_observations_to_list }}

<p><input type="submit" value="Guardar" /></p>
</form>
{% endblock %}
