{% extends "company/base.html" %}

{% block nav_menu %}
	<ul class="tabbed">
		<li><a href="/company/">Portada</a></li>
		<li><a href="/company/volunteers">Voluntarios</a></li>
		<li class="current-tab"><a href="/company/infrastructure">Infraestructura</a></li>
		<li><a href="/company/minor_material">Material Menor</a></li>
	</ul>
{% endblock %}

{% block content %}
{% csrf_token %}
	<h2>Infraestrucura</h2>
	<h4>Compañía {{ company.number }}</h4>
<h3>Terreno</h3>
{{ form.render_built_area_to_table }}

{{ form.render_street_questions_to_list }}

{{ form.render_property_title_type_to_list }}

<h3>Construcción</h3>
<h3>Superficie</h3>
<h3>Fotografías Requeridas</h3>
<h3>Observaciones</h3>
{{ form.as_p }}
{% endblock %}
