{% extends "company/base.html" %}
{% load thumbnail %}

{% block title %}Infraestructura - {% endblock %}

{% block nav_infrastructure %}<li class="current-tab"><a href="{% url company_infrastructure %}">Infraestructura</a></li>{% endblock %}

{% block content %}
<form method="post" class="catastro_form" enctype="multipart/form-data">
	{% csrf_token %}
	<h2>Infraestructura</h2>
	<h4>{{ company.cuerpo }}</h4>
	<h4>{{ company.string_number }}</h4>

	{% if form.non_field_errors %}
	    <ul class="errorlist">
            {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
            {% endfor %}
	    </ul>
	{% endif %}


<h3>Terreno</h3>
{{ form.render_built_area_to_table }}

{{ form.render_land_questions_to_list }}
<small>Responder sólo si el título de propiedad es un arriendo o un comodato</small>
{{ form.render_rental_commodatum_end_year_to_list }}

{{ form.render_rol_sii_to_list }}

<h3>Datos de inscripción</h3>

{{ form.render_inscription_data_questions_to_list }}

<br/>
<hr/>
<h3>Construcción</h3>
{{ form.render_building_material_type_to_list }}

{{form.render_building_construction_to_table}}

<br/>
<hr/>
<h3>Distribución</h3>

{{form.render_distribution_rooms_to_list}}

<h3>Oficinas</h3>

{{form.render_distribution_offices_to_list}}

<small>Nota: En caso de tener oficinas que no se encuentren en el listado indicar en Oficinas Comunes </small>


<br/>
<br/>
<hr/>

<h3>Guardia Nocturna</h3>

<h4>Hombres</h4>
{{form.render_night_guard_office_men_to_table}}
<h4>Mujeres</h4>
{{form.render_night_guard_office_women_to_table}}
{{form.render_night_guard_office_kitchen_to_list}}

<h3>Dependencias</h3>

{{form.render_rooms_to_list}}

{{form.render_bathrooms_to_table}}

{{form.render_other_areas_to_list}}


<h3>Casa cuartelero</h3>

{{ form.render_barrack_house_to_list }}

<br/>
<hr/>

<h3>Fotografías Solicitadas</h3>
<small>Dejar en blanco si no se cuenta con las fotografías a mano</small>
<br />
<br />

{% for pair in form.picture_fields %}
    <h4>{{ pair.0.label }}</h4>

    {% if pair.0.errors %}
        <ul class="errorlist">
            {% for error in pair.0.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% thumbnail pair.1 "300x300" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

    <br />
    <br />
    {{ pair.0 }}
    <br/>
    <br />
{% endfor %}

<hr/>
<h3>Observaciones</h3>
<p>Ingrese cualquier información que estime de utilidad</p>
{{ form.render_observations_to_list }}
    
<p><input type="submit" value="Guardar y continuar" /></p>
</form>
{% endblock %}
