<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style.css" media="screen" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/print.css" type="text/css" media="print">
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/src/forms.css" type="text/css" media="screen, projection">
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script src="{{ MEDIA_URL }}/js/form_handler.js"></script>
	<script src="{{ MEDIA_URL }}/js/default_submit_form_on_enter.js"></script>
	{% endblock %}
	{% block user_scripts %}{% endblock %}
	<title>{% block title %}{% endblock %}Catastro Nacional de Bomberos de Chile</title>
</head>

<body>

<div id="site-wrapper">

	<div id="header">

		<div id="top">

			<div class="left" id="logo">
				<a href="{% url index %}"><img src="{{ MEDIA_URL }}/img/logo_bomberos.jpg" alt="" /></a>
			</div>

			<div class="left navigation" id="main-nav">
			
			    {% block messages %}

				    {% if flash.error %}
					    <div class="error">{{ flash.error }}</div>
				    {% endif %}
				
				    {% if flash.notice %}
					    <div class="notice">{{ flash.notice }}</div>
				    {% endif %}
				
				    {% if flash.success %}
					    <div class="success">{{ flash.success }}</div>
				    {% endif %}
			
			    {% endblock %}

				{% if user.is_authenticated %}
				<div id="logout">
					<a href="{% url logout %}">[Salir]</a>
				</div>
				{% endif %}
				
			{% block nav %}
				<ul class="tabbed">
				{% comment %}
					<li class="current-tab"> to highlight selected tab
					reference: http://stackoverflow.com/questions/340888/navigation-in-django
				{% endcomment %}
				</ul>
			{% endblock %}

				<div class="clearer">&nbsp;</div>

			</div>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>

	<div class="main" id="main-two-columns">

		<div class="left" id="main-content">
			{% block content %}
			{% endblock %}
		</div>

		<div class="clearer">&nbsp;</div>

	</div>

	<div id="footer">

		<div class="left" id="footer-left">
			
			<p>&copy; 2011 Junta Nacional de Bomberos</p>

			<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
			
			<div class="clearer">&nbsp;</div>

		</div>

		<div class="clearer">&nbsp;</div>

	</div>

</div>

</body>
</html>
