{% extends "regional_operations_manager/base.html" %}

{% block nav %}{% endblock %}

{% block form_handler %}{% comment %}
    disable form script
{% endcomment %}{% endblock %}

{% block sidebar %}
		
            <div id="sidebar" class="left sidebar">
	            <div class="section">
		            <div class="section-title">Menú Principal</div>

                    <form id="selector_form">
                        {% for menu_title in menu_titles %}
                            <h4>{{ menu_title.0 }}</h4>
                                <select class="last_choice_field" id="{{ menu_title.1|lower }}">
                                    {% for elem in main_menu_choices %}
                                        <option value="{{ elem.old_id }}">{{ elem }}</option>
                                    {% endfor %}
                                </select>
                            {% if menu_title.2 %}
                                <br />
                                <input type="submit" value="Ingresar" />
                            {% endif %}
                            <br />
                            <br />
                        {% endfor %}
                    </form>
                </div>
            </div>
        {% endblock %}

{% block content %}
{% endblock %}
